/*indigenous page*/
#indighdr{
    background-image: url(jj.webp);
    background-color: rgba(255, 255, 255, 0.9);
    min-height: 680px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
  }

  body {
    background-color:rgb(0, 0, 0); /* Replace "your_color_here" with the desired color */
}

  
  .indigenous{
    font-family: 'Playfair Display', serif;
  }
  
          /* Button style */
          #editSaveButton {
            background-color: #ff9f0586;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 8px;
            outline: none;
        }

        /* Button hover effect */
        #editSaveButton:hover {
          background-color: #7f4f0186;
        }

  .ind p{ 
    padding-top: 90px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
    font-size: 170px;
    font-weight: 300;
    line-height: 50px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: 400;
  }
  
  .ind_box{
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(6, 29, 60);
    margin-bottom: 50px;
  }
  
  .ind_box h3{
    align-items: center;
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    padding-left: 420px;
  }
  
  .ind_box p{
    align-items: center;
    font-size: 16px;
    color: white;
    padding-left: 230px;
  }
  
  .indigenous-container{
    display: flex;
    flex-direction: column;
    width: 78%;
    margin: auto;
  }
  
  /* Card 1 */
  .ind-1{
    display: flex;
    background-color: rgba(173, 186, 112, 0.415);
    margin-top: 25px;
    transition: all 2s;
    border-radius: 15px;
  
  }
  
  .ind-image-1{
    width: 30%;
  }
  
  .ind-image-1 img{
    width: 120%;
    min-height: 100%;
  }
  
  .ind-text-1{
    width: 70%;
    padding: 60px;
  }
  
  .ind-text-1 h4{
    font-size: 36px;
    padding-left: 70px;
    font-family: 'Playfair Display', serif;
    color: white;
    padding-bottom: 20px;
  }
  
  .ind-text-1 p{
    font-size: 16px;
    padding-left: 70px;
    font-family: 'Playfair Display', serif;
    color: white;
  }
  
  .ind-text-1 .indi-text_btn {
    margin-top: 20px;
  }
  
  .ind-text-1 .indi-text_btn a {
    padding: 10px 20px;
    background-color: rgb(55, 98, 62);
    color: white;
    border-radius: 5px;
    font-size: 24px;
    display: inline-block;
    text-decoration: none;
    margin-left: 70px;
  }
  
  .ind-text-1 .indi-text_btn a:hover {
    background-color: rgb(70, 71, 70);
  }
  
  #indigenoushdr{
    background-image: url(images/leopard\ backg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5); 
    margin-bottom: 70px;
  }
  
  .indi {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  
  .indi h4{
    font-size: 66px;
    padding-left: 550px;
    font-family: 'Playfair Display', serif;
    color: white;
  }
  
  .indi p{
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
    font-weight: bolder;
  }
  
  .indi .indi-Box {
    margin-top: 20px;
  }
  
  .indi .indi-Box a {
    padding: 10px 20px;
    background-color: rgb(2, 101, 60);
    color: white;
    border-radius: 5px;
    font-size: 24px;
    display: inline-block;
    text-decoration: none;
    margin-left: 650px;
  }
  
  .indi .indi-Box a:hover {
    background-color: rgb(46, 66, 46);
  }
  
  /* Card 2 */
  
  .ind-2{
    display: flex;
    background-color: rgba(31, 92, 44, 0.6);
    margin-top: 25px;
    transition: all 2s;
    border-radius: 15px ;
    margin-bottom: 100px;
    padding-right: 50px;
  }
  
  .ind-image-2{
    width: 30%;
    order: 2;
  }
  
  .ind-image-2 img{
    width: 120%;
    min-height: 100%;
  }
  
  .ind-text-2{
    width: 65%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    order: 1;
  }
  
  .ind-text-2 h4{
    font-size: 36px;
    padding-left: 40px;
    font-family: 'Playfair Display', serif;
    color: white;
    padding-bottom: 20px;
  }
  
  .ind-text-2 p{
    font-size: 16px;
    padding-left: 40px;
    font-family: 'Playfair Display', serif;
    color: white;
  }
  
  .ind-text-2 .indi-text_btn {
    margin-top: 20px;
  }
  
  .ind-text-2 .indi-text_btn a {
    padding: 10px 20px;
    background-color: rgb(55, 98, 62);
    color: white;
    border-radius: 5px;
    font-size: 24px;
    display: inline-block;
    text-decoration: none;
    margin-left: 40px;
  }
  
  .ind-text-2 .indi-text_btn a:hover {
    background-color: rgb(70, 71, 70);
  }
  
  /* @media(max-width: 725px){
    .ind-1{
      display: flex;
      background-color: rgba(0,0,0,0.2);
      border-radius: 5px ;
      margin-top: 25px;
      flex-direction: column;
  
    }
    
    .ind-image-1{
      width: 30%;
    }
    
    .ind-image-1 img{
      width: 100%;
      height: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0;
    }
    
    .ind-text-1{
      width: 70%;
      padding: 60px;
    }
    .ind-2{
      display: flex;
      background-color: rgba(0,0,0,0.2);
      border-radius: 5px ;
      margin-top: 25px;
      flex-direction: column;
    }
    
    .ind-image-2{
      width: 30%;
      order: 2;
    }
    
    .ind-image-2 img{
      width: 100%;
      height: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0;
    }
    
    .ind-text-2{
      width: 70%;
      padding: 60px;
      order: 2;
    }
    
  } */

  /* Footer Newsletter Subscription Form */
.newsletter-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-form label {
  font-weight: bold;
  margin-bottom: 10px;
}

.newsletter-form input[type="email"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 10px;
}

.newsletter-form button[type="submit"] {
  padding: 8px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.newsletter-form button[type="submit"]:hover {
  background-color: #45a049;
}
/* CSS for Newsletter Subscription Form */
.emailInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.emailInput:focus {
  outline: none;
  border-color:#ff9f0586; /* Change border color when focused */
}

.newsletterForm button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff9f0586;
  color: white;
  cursor: pointer;
}

.newsletterForm button:hover {
  background-color: #7f4f0186;
  /* Change background color on hover */
}
        /* Button styles */
        .edit-button {
          background-color: #ff9f0586; /* Orange background color */
          border: none; /* Remove border */
          color: white; /* White text color */
          padding: 10px 20px; /* Add padding */
          text-align: center; /* Center text */
          text-decoration: none; /* Remove underline */
          display: inline-block; /* Make it inline block */
          font-size: 16px; /* Set font size */
          cursor: pointer; /* Add cursor pointer */
          border-radius: 5px;
          margin-top: 20px;
      }

      /* On hover, change background color */
      .edit-button:hover {
          background-color: #7f4f0186;
      }

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  